@model IEnumerable<Vidéothèque.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@foreach (var user in Model)
{
    @user.Id
    <br />
    @user.Email
    <br />
    @user.Name
    <br />
    <br />
    @Html.ActionLink(@user.Email, "Details", "Account", new { @identity = @user.Id }, null)
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <hr />
}
