@model Vidéothèque.ViewModels.AllRentsViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#284D7E;">All Rents</h2>


<main role="main" class="col-md-10 mx-auto p-5" style="border: solid 1px black;
                                                    background-color: lightgrey;
                                                    padding: 85px;
                                                    margin: 85px;
                                                    border-radius: 25px">
    <center><h2 style="padding: 15px;">Rents</h2></center>
    <br />

    @using (Html.BeginForm())
    {
        <p>
            Find : @Html.TextBox("searchString")
            <input type="submit" value="Search" />
        </p>
    }
    <div style="    display: flex;
        align-items: center;
        margin: 5px 10px 5px 0;
        padding-left: 250px
    ">

        @using (Html.BeginForm("Index", "Rent", new { @SearchString = "reserve" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-primary" title="loaned" value=" Reserved" />
        }
        @using (Html.BeginForm("Index", "Rent", new { @SearchString = "return" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-secondary" title="loaned" value=" Returned" />
        }
        @using (Html.BeginForm("Index", "Rent", new { @SearchString = "loan" }))
        {
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-success" title="loaned" value=" Loaned" />
        }
    </div>
    <table id="rents" class="table table-hover table-active">
        <thead>
            <tr>
                <th  width="20%" scope="col"> @Html.ActionLink("Title", "Index", "Rent", new { @sortOrder = "Title" }, null)</th>
                <th scope="col"> @Html.ActionLink("User Email", "Index", "Rent", new { @sortOrder = "Email" }, null)</th>
                <th scope="col">  @Html.ActionLink("User Name", "Index", "Rent", new { @sortOrder = "UserName" }, null)</th>
                <th scope="col">@Html.ActionLink("Expected Return Date", "Index", "Rent", new { @sortOrder = "ReturnDate" }, null) </th>
                <th width="45%" scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rent in Model.Rents)
            {
                <tr>
                    <td><h5 class="col-md-2">@Model.Movies.SingleOrDefault(g => g.Id == (Model.Invoices.SingleOrDefault(m => m.Id == rent.InvoiceId).MovieId)).Title</h5></td>
                    <td><h5 class="col-md-2">@Model.Users.SingleOrDefault(g => g.Id == rent.UserId).Email</h5></td>
                    <td><h5 class="col-md-2">@Model.Users.SingleOrDefault(g => g.Id == rent.UserId).Name</h5></td>
                    <td><h5 class="col-md-2"> @rent.ExpectedReturnDate</h5></td>
                    <td>
                        <h5 class="col-md-3">@rent.Status </h5>

                        <h5 class="col-md-3">
                            @using (Html.BeginForm("ChangeStatusLoaned", "Rent", new { id = rent.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-danger" title="loaned" value=" Loaned" />
                            }
                        </h5>
                        <h5 class="col-md-3">
                            @using (Html.BeginForm("ChangeStatusReturned", "Rent", new { id = rent.Id }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" class="btn btn-info" title="returned" value=" Returned" />
                            }
                        </h5>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</main>