<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" />
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="sidenav">
        @RenderSection("LeftMenu", required: false)
        <div id="menuLeft2">
            <hr />
            <h5><i class="fa fa-sliders" style="font-size:20px;color:black"></i> Preferences</h5>
            <h5><i class="fa fa-cog" style="font-size:20px;color:black"></i> Settings</h5>
            <h5><a href="@Url.Action("About", "Home")"><i class="fa fa-question-circle" style="font-size:20px;color:black"></i> About us</a></h5>
            <h5><a href="@Url.Action("Contact", "Home")"><i class="fa fa-envelope" style="font-size:20px;color:black"></i> Contact</a></h5>
        </div>
        <div id="social">
            <span><i class="fab fa-facebook-f" style="font-size:18px;color:black"></i></span>
            <span><i class="fab fa-twitter" style="font-size:18px;color:black"></i></span>
            <span><i class="fab fa-instagram" style="font-size:18px;color:black"></i></span>
            <span><i class="fab fa-linkedin-in" style="font-size:18px;color:black"></i></span>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Video Library</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
